<!DOCTYPE html>
<html>
  <head>
    <title>Thank you</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   Thanks for your order !	
   you can continue shopping by clicking <a href="https://shopping-paypal.herokuapp.com/thankyou">here</a>
   
  </body>
</html>
